/* Estilos para la vista del chat de whatsapp */
.fi-main {
    margin-left: auto; 
    margin-right: auto; 
    height: 100%; 
    width: 100%; 
    padding-left: 0; 
    padding-right: 0; 
    padding-top: 0; 
    padding-bottom: 0; 
}

section {
    display: flex !important; 
    flex-direction: column !important; 
    gap: 0 !important; 
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
}


@media (max-width: 768px) {
    .sidebar-chat {
        display: none; /* Esconde la barra lateral en pantallas pequeñas */
    }

    .chat-wrapper {
        height: auto;
        width: 100%;
        margin: 0!important;
        padding: 0!important;
    }

    .chat-window {
        width: 100%;
    }

    .chat-input {
        padding: 10px;
    }

    .chat-item {
        padding: 6px 12px;
        font-size: 10px;
    }

    .chat-header {
        padding: 10px;
        font-size: 14px;
    }

    .message-content {
        padding: 8px;
        font-size: 10px;
    }
}

.bg {
    background-color: #ffffff;
}

/* Sidebar de Contactos */

.sidebar-chat {
    width: 30%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    height: 100vh; 
    
}

.search-bar {
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;

}


.search-bar-wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f3f4f6; /* El mismo color de fondo que el contenedor */
    padding: 12px;
   
    
}

.button-wrapper {
    position: sticky;
    top: 64px; /* La altura de la barra de búsqueda */
    z-index: 100;
    background-color: #ffffff;
    padding: 8px;
   
}

.chat-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 12px;
}

.chat-item {
    display: flex;
    /*padding: 8px 16px;*/
    align-items: center;
    border-radius: 8px;
    background-color: #fff; 
    /* font-size: 12px;  */
}

.chat-item:hover, .selected {
    background-color: #f1f1f1; 
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px ;
    margin-left: 6px;
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
}

.avatar-0 {background-color: #3f80b4;}
.avatar-1 {background-color: #8bd89b;}
.avatar-2 {background-color: #f33da1;}
.avatar-3 {background-color: #b253cc;}
.avatar-4 {background-color: #f87224;}

.chat-name {
    font-size: 12px; 
}

/* Estilos adicionales para mejor legibilidad */
.chat-window {
    background-color: #e5f3fe; /* Color de fondo más claro para la ventana de chat */
}


.chat-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    /* padding: 15px;
    font-size: 12px; */
    height: 65px;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    background-color: #e5ddd5;
    font-size: 12px; 
}

.message {
    max-width: 60%;
    margin-bottom: 10px;
    border-radius: 15px;
    line-height: 1.5;
    font-size: 12px;
    padding: 10px;
}

.message-wrapper {
    display: flex;
    width: 100%;
}

.message-container {
    display: flex;
    max-width: 80%; /* Limita el ancho de los mensajes */
}
/* .message-content {
    padding: 10px;
    border-radius: 15px;
} */

.sent {
    background-color: #dcf8c6; /* Color del mensaje enviado */
    border-radius: 8px;
    padding: 8px 12px;
    text-align: left;
}

.received {
    background-color: #f1f0f0; /* Color del mensaje recibido */
    border-radius: 8px;
    padding: 8px 12px;
    text-align: left;
}

/* Input del Mensaje */
.chat-input {
    display: flex;
    /* padding: 15px; */
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

.chat-input input:focus {
    border-color: #888;
    box-shadow: none; 
}

.chat-input button {
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff !important;
    font-size: 12px;  
    font-weight: 30;
    background: rgb(84, 131, 131);
    border: 1px solid;
    border-color: rgba(24, 122, 122, 0.753);
    transition: all 1s ease;
    position: relative;
    margin-left: 5px;
    margin-right: 5px; 
}

.chat-input button:hover {
    background: rgb(21, 114, 114);
    color: #fff !important;
}

/* Estilos adicionales */
input[type="text"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 12px;
}

input[type="text"]:focus {
    border-color: #c7c7c7; /* O el color que prefieras */
    box-shadow: none;
    outline: none;
}

.button-tag{
    color:rgba(33, 165, 165, 0.753) !important;
    font-size: 12px;
    font-weight: 30;
    padding: 0.5em 1.2em;
    background: transparent;
    transition: all 1s ease;
    position: relative;
    margin-left: 5px; /* Ajusta este valor para el espaciado */
    margin-right: 10px; 
}

.button-tag:hover {
    color: rgb(21, 114, 114) !important;
  }

.button-filter {
    color: #ffffff !important;
    font-size: 12px;
    font-weight: 30;
    padding: 0.5em 1.2em;
    background: rgb(141, 194, 194);
    border: 2px solid;
    border-radius: 25px;
    border-color: rgba(33, 165, 165, 0.753);
    transition: all 1s ease;
    position: relative;
    margin-left: 5px; /* Ajusta este valor para el espaciado */
    margin-right: 10px; /* Aumenta este valor para más espaciado */
}

.button-filter:hover {
        background: rgb(21, 114, 114);
        color: #fff !important;
      }


      .text-time {
        font-size: 0.75rem;         /* Tamaño pequeño para la hora */
        display: block;             /* Bloque para asegurar alineación */
        margin-top: 0.25rem;        /* Separación superior */
        color: #888;                /* Color gris para la hora */
    }


.tag {
    background-color: transparent; 
    color: white; 
    border-radius: 9999px; 
    padding: 0.125rem 0.25rem; 
    font-size: 10px; 
    font-weight: 600; 
    transition: all 0.3s ease; 
    cursor: pointer; 
    margin-right: 0.125rem; 
}

.tag:hover {
    background-color: #e0e0e0;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(228, 228, 228, 0.2);
}

/* Estilo para el fondo de la página cuando el modal está abierto */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(2px); /* Desenfoque del fondo */
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.2s forwards; /* Animación de aparición */
}

/* Estilo del contenido del modal */
.modal-content {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    max-height: 75vh;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 24px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.95);
    animation: modalIn 0.2s forwards; /* Animación de entrada */
}

/* Animaciones para entrada y salida del modal*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes modalIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes modalOut {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.95); }
}

.modal-overlay.close {
    animation: fadeOut 0.5s forwards;
}

.modal-content.close {
    animation: modalOut 0.5s forwards;
}

/* Encabezado del modal */
.modal-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.sidebar-chat {
    position: relative; /* Asegúrate de que esto se mantenga dentro de su contexto */
    z-index: 30; /* Mantiene la barra de búsqueda y los botones por encima del fondo desenfocado */
}

.customer-data {
    width: 30%; /* Ajusta según lo que necesites */
    background-color: #f8f9fa;
    padding: 10px;
    border-left: 1px solid #ddd; /* Línea divisoria */
    height: 100%; /* Para que ocupe todo el alto disponible */
    overflow-y: auto; /* Habilita el scroll si hay mucho contenido */
    display: none; /* Oculto por defecto */
}

.customer-data.visible {
    display: block; /* Muestra cuando está activo */
}

.logo-inicio{
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 80px; /* Mantén el mismo tamaño para que sea redonda */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra el área sin deformarse */
    border: 2px solid rgb(21, 114, 114);; /* Agrega un borde si deseas resaltar la imagen */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra suave */
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Estilo para el fondo de la página cuando el modal está abierto sin desenfoque */
.modal-overlay-small {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    align-items: flex-start; /* Alinear al principio del eje vertical */
    justify-content: flex-end; /* Alinear al final del eje horizontal */
    opacity: 0;
    animation: fadeIn 0.2s forwards; /* Animación de aparición */
}

/* Estilo del contenido del nuevo modal */
.modal-content-small {
    background-color: #fff;
    width: 300px; /* Ancho fijo */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 24px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.95);
    animation: modalIn 0.2s forwards; /* Animación de entrada */
}

/* Animaciones para entrada y salida del modal*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes modalIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes modalOut {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.95); }
}

.modal-overlay-small.close {
    animation: fadeOut 0.5s forwards;
}

.modal-content-small.close {
    animation: modalOut 0.5s forwards;
}

/* Encabezado del modal */
.modal-content-small h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.new-message {
    background-color: #76c496ce !important;
    font-weight: bold;  /* Para hacerlo más visible */
    color: #ffffff;
}

.fi-topbar {
    display: none !important;
}

.last-message {
    color: #4b5563; /* Gris oscuro en modo claro */
    transition: color 0.3s, background-color 0.3s;
}

.last-message .message-text {
    color: inherit;
}

.last-message .message-time {
    color: inherit;
}


/* Modo claro y oscuro */
:root {
    --bg-light: #ffffff;
    --bg-dark: #121212;
    --text-light: #333333;
    --text-dark: #e0e0e0;
    --text-dark: #ffffff;
    --search-bar: #4d4d4d;
    --accent-light: #f8f9fa;
    --accent-dark: #1e1e1e;
    --border-light: #ddd;
    --border-dark: #333;
    --message-sent-light: #dcf8c6;
    --message-sent-dark: #2d4b3a;
    --message-received-light: #f1f0f0;
    --message-received-dark: #3a3a3a;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }
    .bg {
        background-color: var(--bg-dark);
    }
    .sidebar-chat {
        background-color: var(--accent-dark);
        border-right: 1px solid var(--border-dark);
    }
    .search-bar {
        background-color: var(--search-bar);
        border: 1px solid var(--border-dark);
        color: var(--text-dark);
    }
    .button-wrapper, .search-bar-wrapper {
        background-color: var(--accent-dark);
    }

    .chat-item {
        background-color: #4b4b4b;
        color: var(--text-dark2);
    }
    .chat-item:hover, .selected {
        background-color: #444; /* Color al hacer hover en modo oscuro */
    }
    .chat-window {
        background-color: var(--accent-dark);
    }
    .chat-header {
        background-color: var(--accent-dark);
        border-bottom: 1px solid var(--border-dark);
    }
    .chat-messages {
        background-color: #1f1f1f;
    }
    .message-content {
        color: var(--text-dark);
    }
    .sent {
        background-color: var(--message-sent-dark);
    }
    .received {
        background-color: var(--message-received-dark);
    }
    .chat-input {
        background-color: var(--accent-dark);
        border-top: 1px solid var(--border-dark);
    }
    .chat-input input {
        background-color: var(--bg-dark);
        color: var(--text-dark);
        border: 1px solid var(--border-dark);
    }
    .chat-input button {
        background: #2e7d7d;
        border-color: #1c5f5f;
    }
    .chat-input button:hover {
        background: #144e4e;
    }
    .modal-content {
        background-color: #333333;
        color: var(--text-dark);
    }
    .modal-content-small {
        background-color: #333333;
        color: var(--text-dark);
    }
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--text-dark);
    }
    .modal-overlay-small {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--text-dark);
    }
    .customer-data {
        background-color: var(--accent-dark);
        border-left: 1px solid var(--border-dark);
    }
    .last-message {
        color: #d1d5db; /* Gris claro para texto en modo oscuro */
    }
    .name_tag{
        color: var(--text-dark);
    }
}
